@if(perfil()){
<div class="perfil-container">
  <div class="color-mode-button">
    <!-- <app-button type="icon" label="" [iconName]="getTheme() === 'dark-theme' ? 'dark_mode' : 'light_mode'" (click)="toggleTheme()"></app-button> -->
  </div>

  
  <div class="perfil-info">
    <ion-avatar>
      <img ngOptimizedImage [ngSrc]="perfil().foto" alt="Foto de {{ perfil().nome }}" width="100" height="100" priority
      class="foto-perfil" (error)="perfil().foto = 'assets/default-avatar.png'">
    </ion-avatar>
    
    <h2>{{ perfil().nome }}</h2>
    <p>{{ perfil().email }}</p>
  </div>

  <app-progress-bar [level]="perfil().nivel" [progress]="10"></app-progress-bar>


  <div class="conquistas-container">
    <h3>Conquistas</h3>
    <div class="badges-container" *ngIf="perfil().badges && perfil().badges.length > 0">
      <div *ngFor="let badge of perfil().badges" class="badge" [title]="badge">
      <img ngOptimizedImage [ngSrc]="badge.imagem" alt="{{ badge.nome }}" width="50" height="50" style="border-radius: 20px;">
        <span class="badge-tooltip">{{ badge.nome }}</span>
      </div>
    </div>
  </div>




</div>


}
@else {
<div class="perfil-container">
  <p>Carregando perfil...</p> 
  </div>
}