ion-segment-content {
    & h3 {
        text-align: center;
        margin-top: 20px;
    }
}

ion-segment {
    background-color: var(--background-color);
  
    & ion-segment-button {
      background-color: var(--background-color);
      color: var(--text-primary);
      --ion-color-step-350: var(--segment-button-color);
  
    }

    & ion-segment-view {
      background-color: red !important;
    }
  }
  
#first {
  background-color: var(--background-color);
  height: 100%;
}