<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="cancel()">Voltar</ion-button>
    </ion-buttons>
    <ion-title>Configurações</ion-title> <!-- Nome do curso no header -->
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-list-header>Configurações</ion-list-header>
  <ion-list [inset]="true">
    <ion-item>
      <ion-select  [(ngModel)]="modoVisualizacao" (ionChange)="modoVisualizacaoChange($event)" label="Modo de Visualização" placeholder="Selecionar modo de visualização">
        <ion-select-option value="ALUNO">Aluno</ion-select-option>
        <ion-select-option value="PROFESSOR">Professor</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-toggle [(ngModel)]="paletteToggle" (ionChange)="toggleChange($event)" justify="space-between">
        Modo de Cor</ion-toggle>
    </ion-item>
  </ion-list>
  <div class="logout-container">
    <ion-button  size="large" color="primary" class="logout-button" (click)="logout()">
      <ion-icon name="log-out-outline" slot="start"></ion-icon>
      Sair
    </ion-button>
  </div>

</ion-content>