<ion-content>
  <ion-list-header>Modo de Cor</ion-list-header>
  <ion-list [inset]="true">
    <ion-item>
      <ion-toggle [(ngModel)]="paletteToggle" (ionChange)="toggleChange($event)" justify="space-between">
        Modo de Cor</ion-toggle>
    </ion-item>
  </ion-list>
  <div class="logout-container">
    <ion-button  size="large" color="primary" class="logout-button" (click)="logout()">
      <ion-icon name="log-out-outline" slot="start"></ion-icon>
      Sair
    </ion-button>
  </div>

</ion-content>