<!-- Top 3 Players Section -->
<div class="top-players">
  <!-- Segundo Lugar -->
   @if(ranking[1]){
     <div class="player second-place">
       <div class="medal">2</div>
       <ion-avatar>
         <img src="assets/dog.png" />
       </ion-avatar>
       <ion-label>
         <h2>{{ ranking[1].nomeAluno }}</h2>
         <h3>{{ ranking[1].pontuacaoTotal }} pts</h3>
       </ion-label>
     </div>
   }

   @if (ranking[0]){
     <!-- Primeiro Lugar -->
     <div class="player first-place">
       <div class="medal">1</div>
       <ion-avatar>
         <img src="assets/zebra.png" />
       </ion-avatar>
       <ion-label>
         <h2>{{ ranking[0].nomeAluno }}</h2>
         <h3>{{ ranking[0].pontuacaoTotal }} pts</h3>
       </ion-label>
     </div>

   }

  <!-- Terceiro Lugar -->
   @if(ranking[2]){
     <div class="player third-place">
       <div class="medal">3</div>
       <ion-avatar>
         <img src="assets/wolf.png" />
       </ion-avatar>
       <ion-label>
         <h2>{{ ranking[2].nomeAluno }}</h2>
         <h3>{{ ranking[2].pontuacaoTotal }} pts</h3>
       </ion-label>
     </div>
    }
  </div>

<!-- Rest of the ranking list -->
<ion-list>
  @for(aluno of ranking.slice(3); track aluno.alunoId) {
    <ion-item lines="full">
      <ion-avatar slot="start">
        <div class="rank-number">{{ ranking.indexOf(aluno) + 4 }}</div>
      </ion-avatar>
      <ion-avatar slot="start">
        <img [src]="'https://gravatar.com/avatar/' + aluno.alunoId + '?d=mp'" />
      </ion-avatar>
      <ion-label>
        <h2>{{ aluno.nomeAluno }}</h2>
        <p>{{ aluno.pontuacaoTotal }} pts</p>
      </ion-label>
      <ion-badge slot="end">0 =</ion-badge>
    </ion-item>
  }
</ion-list>
