<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Receber Badges</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <!-- Input para código do badge -->
  <div class="badge-input-container">
    <h2 style="text-align: center;">Resgate sua recompensa!</h2>
    <p style="text-align: center;">Digite o código para resgatar sua recompensa</p>
    <div style="width: 100%; display: flex; justify-content: center; align-items: center; height: 50px; width: 100%; margin-bottom: 10px; margin-top: 1rem;">
      <ng-otp-input class="otp-input" [formControl]="otp" [config]="config"></ng-otp-input>
    </div>
    <ion-button expand="block" color="primary" (click)="redeemBadge()">
      Resgatar Recompensa
    </ion-button>
  </div>

  <!-- Leitura de QR Code -->
  <div class="qr-code-container">
    <h3 style="text-align: center; margin: 2rem 0;">Ou leia um QR Code</h3>
    <ion-button expand="block" color="secondary" (click)="abrirModalQrCode()">
      <ion-icon name="qr-code-outline" slot="start"></ion-icon>
      Ler QR Code
    </ion-button>
  </div>

  <!-- Exibição de fotos capturadas -->

</ion-content>