<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-title>Perfil</ion-title>
    <ion-buttons slot="end">
      <ion-button color="dark" id="open-modal" expand="block">
        <ion-icon name="settings" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <app-perfil></app-perfil>
</ion-content>


    <ion-modal #modal trigger="open-modal" [presentingElement]="presentingElement">
      <ng-template>
        <ion-header>
          <ion-toolbar>
            <ion-title>Configurações</ion-title>
            <ion-buttons slot="end">
              <ion-button color="dark" (click)="modal.dismiss()">
                <ion-icon name="close" slot="icon-only"></ion-icon>
              </ion-button>
            </ion-buttons>
          </ion-toolbar>
        </ion-header>
        <ion-content>
          <app-settings></app-settings>
        </ion-content>
      </ng-template>
    </ion-modal>
